<div id="declarative" class="row ac-section">
	<div class="page-header">
		<h2>The declarative paradigm</h2>
	</div>
	<h3>Imperative way</h3>
	<pre prettyprint>
<xmp>
<button id="my-button">Click</button>
<script>
	var btn = document.getElementById('my-button');
	btn.addEventListener('click', function(){
		alert('Clicked');
	})
</script>
</xmp>
	</pre>
	<h3>Declarative way</h3>
	<pre prettyprint>
<xmp>
<button id="my-button" ng-click="clickBtn()">Click</button>
<script>
	var clickBtn = function(){
		alert('Clicked');
	}
</script>
</xmp>
	</pre>
	<p class="lead">
		This declarative approach greatly simplifies app development in a sort of WYSIWYG (what you see is what you get) way. Rather than spending time on how the program flows and what should get loaded first, you simply define what you want and Angular will take care of the dependencies.
	</p>
</div>