<img src="images/angularjs-logo.png" alt="I'm AngularJS" width="730px">
<div class="page-header">
  <h3>About the course</h3>
  <p class="lead">
    Blaaaa
  </p>
</div>
<div class="page-header">
  <h3>Recommended background</h3>
  <p class="lead">
    Blaaaa
  </p>
</div>
<div class="page-header">
  <h3>Suggested readings</h3>
  <p class="lead">
    Blaaaa
  </p>
</div>
<div class="page-header">
  <h3>Course format</h3>
  <p class="lead">
    Blaaaa
  </p>
</div>
<div class="page-header">
  <h3>FAQ</h3>
  <p class="lead">
    Blaaaa
  </p>
</div>
